<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automates Test Suite" verbose="1" parallel="methods" thread-count="5">
    <parameter name="param1" value="Value1" />
    <parameter name="userid" value="admin" />
    <parameter name="pwd" value="password" />
    <test name="Test Package">
        <classes>
<!--            <class name="com.saddy.testngdemo.TestNGAnnotationsDemo1"/>-->
<!--            <class name="com.saddy.testngdemo.TestNGAnnotationsDemo2"/>-->
<!--            <class name="com.saddy.testngdemo.TestNGAttributesDemo">-->
<!--                <methods>-->
<!--                    <include name="attributeTest_TC001"/>-->
<!--                    <include name="attributeTest_TC002"/>-->
<!--                    <include name="attributeTest_TC003"/>-->
<!--                    <include name="attributeTest_TC004"/>-->
<!--                    <exclude name="attributeTest_TC005"/>-->
<!--                    <include name="attributeTest_TC006"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.saddy.testngdemo.ParameterDemo">
                <parameter name="classLevel" value="Class Level Value" />
                <methods>
                    <include name="parameterDemo1" />
                    <include name="parameterDemo2" />
                    <include name="parameterDemo3" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression Test">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.saddy.testngdemo.ParallelTests"></class>
        </classes>
    </test>
    <test name="Sanity Test">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.saddy.testngdemo.ParallelTests"></class>
        </classes>
    </test>
</suite>